{% extends 'leaveApp/main.html' %}
{% block content %}


<div class="container">
    {% if user.is_anonymous %}
        <h1>Login</h1>
        <button class='btn btn-primary'>
            <a href="{% url 'login' %}">login</a>    
        </button>

    {% elif user.is_superuser or user.is_staff %}
        <button class='btn btn-primary'>
            <a href="{% url 'register' %}"></a>  
            register new user
        </button>
        <hr>
        <h1>Leave Requests</h1>
        <hr>
        <br>
        <ul class="list-group">

            <h2>Pending Requests</h2>
            <hr>
            {% for leaves in leave_pending %}
            
                <li class="list-group-item">Name: {{leaves.employee.user.username}}</li>
                <li class="list-group-item">Start Date: {{leaves.start_date}}</li>
                <li class="list-group-item">End Date: {{leaves.end_date}}</li>
                <li class="list-group-item">Total Days: {{leaves.date_diff}}</li>
                <li class="list-group-item">Total Leaves Remaining: {{leaves.employee.no_of_leaves}}</li>
                <li class="list-group-item">Status: {{leaves.approved}}</li>
                <li class="list-group-item">
                    <button type="button" class=" btn btn-success">Approve</button> &nbsp;
                    <button type="button" class="btn btn-danger">Decline</button>
                </li>
            <hr>
            {% endfor %}


            <h2>Approved Requests</h2>
            <hr>
            {% for leaves in leave_approved %}
             
                <li class="list-group-item">Name: {{leaves.employee.user.username}}</li>
                <li class="list-group-item">Start Date: {{leaves.start_date}}</li>
                <li class="list-group-item">End Date: {{leaves.end_date}}</li>
                <li class="list-group-item">Total Days: {{leaves.date_diff}}</li>
                <li class="list-group-item">Total Leaves Remaining: {{leaves.employee.no_of_leaves}}</li>
                <li class="list-group-item">Status: {{leaves.approved}}</li>
            <hr>
            {% endfor %}

            <h2>Declined Requests</h2>
            <hr>
            {% for leaves in leave_declined %}
                
                <li class="list-group-item">Name: {{leaves.employee.user.username}}</li>
                <li class="list-group-item">Start Date: {{leaves.start_date}}</li>
                <li class="list-group-item">End Date: {{leaves.end_date}}</li>
                <li class="list-group-item">Total Days: {{leaves.date_diff}}</li>
                <li class="list-group-item">Total Leaves Remaining: {{leaves.employee.no_of_leaves}}</li>
                <li class="list-group-item">Status: {{leaves.approved}}</li>
            <hr>
            {% endfor %}

          </ul>

    {% else %}
        <button class='btn btn-dark'>
            <a href=""></a>  
            Apply for leave
        </button>
        <hr>

        <h3>No. of leaves Available: {{nofleaves}}</h1>
        <hr>
        <h2>Leave's applied</h2>
        <ul class="list-group">
            <!-- {% for leave in leaves %} -->
            <li class="list-group-item">Name:</li>
            <li class="list-group-item">Start Date:</li>
            <li class="list-group-item">End Date:</li>
            <li class="list-group-item">Total Days:</li>
            <li class="list-group-item">Status:</li>

            <!-- {% endfor %} -->
            

            <hr>
          </ul>

        <hr>
        

</div>

{% endif %}

{% endblock content %}