{% extends 'leaveApp/main.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron">
   
    {% if submitted%}
      <h1>Leave request sent!</h1>
      <h2>{{ emp.no_of_leaves }}</h2>
    {% elif exceeded %}
      <h1> Sorry Leave limit exceeded</h1>
    {% else %}
      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <label > User Name:<input type="text"  value="{{emp.user }}"></label><br>
        <label > Leaves Left:<input type="text"  value="{{emp.no_of_leaves }}"></label>
        {{ leave_form.as_p }}
        <input  type="submit" name="" value="Submit">
      </form>
    {% endif %}

  </div>
</div>
{% endblock content %}